modules = ["nodejs-20", "cpp-clang14", "web", "c-clang14", "java-graalvm22.3", "nodejs-23", "replit-rtld-loader", "vue-node-20", "nodejs-with-prybar-18", "python-with-prybar-3.10", "bash", "dart-3.5", "dotnet-8.0"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Run Server"
author = 40675856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Server.js"

[[workflows.workflow]]
name = "Run Flutter"
author = 40675856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd gmao_solution && flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"

[[workflows.workflow]]
name = "Run Flutter Dev"
author = 40675856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = 'cd gmao_solution && flutter\bin\flutter.bat run -d chrome --web-port 5000 --web-hostname 0.0.0.0'

[[workflows.workflow]]
name = "dev"
author = 40675856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 40675856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Backend"
author = 40675856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node Server.js"
